@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

@keyframes blob-alt {
  0% {
    transform: translate(0px, 0px) scale(1);
  }

  25% {
    transform: translate(50px, -70px) scale(1.05);
  }

  50% {
    transform: translate(-30px, 40px) scale(0.95);
  }

  75% {
    transform: translate(60px, -20px) scale(1.1);
  }

  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob-alt {
  animation: blob-alt 10s infinite cubic-bezier(0.6, 0.4, 0.4, 0.6);
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}


.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: 'Arvo', serif;
}

.page_404 img {
  width: 100%;
}

.four_zero_four_bg {

  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}


.four_zero_four_bg h1 {
  font-size: 80px;
}

.four_zero_four_bg h3 {
  font-size: 80px;
}

.link_404 {
  color: #fff !important;
  padding: 10px 20px;
  background: #39ac31;
  margin: 20px 0;
  display: inline-block;
}

.contant_box_404 {
  margin-top: -50px;
}


/* src/styles/globals.css (or similar path in your project) */

/* Custom reusable input styles */
.input-label {
  @apply block text-sm font-semibold text-gray-700 mb-2 flex items-center;
}

.fancy-input-field {
  @apply w-full p-3 rounded-xl bg-white/50 border border-gray-200 backdrop-blur-sm shadow-sm transition duration-300 ease-in-out hover:border-indigo-300 hover:ring-1 hover:ring-indigo-300 focus:outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-500 placeholder-gray-400 text-gray-800;
}

/* You might also move the radio button styles here for consistency, or keep them inline if they are unique to this component */
.form-radio {
  /* Keep your radio button styling if not already global */
}

/* If you need more complex global styles or base styles, define them here */
html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f8faff;
  /* A very light blue-gray for the body background to enhance glassmorphism */
}

.highlight {
  background: yellow;
}

.custom-dashed-border {
  border-bottom-style: dashed;
  border-bottom-width: 2px;
  /* Adjust the thickness of the border */
  border-bottom-color: #d1d5db;
  /* Light gray color */
  border-image: repeating-linear-gradient(to right, #d1d5db 0, #d1d5db 10px, transparent 10px, transparent 20px) 1;
}

.custom-dashed-border {
  border-bottom: 2px dashed #4e4182;
}